<!DOCTYPE html>

<html>
<head>
    <title>Document</title>
</head>
<body>
    <div>
        show somebody
        <ul id='ul'>

        </ul>
    </div>
    <script src="../../public/javascripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function(){
            // $.ajax({
            //         type: 'post',
            //         url: 'http://localhost:3000/getmes',
            //         // data: {
            //         //     id: id,
            //         //     title: title
            //         // },
            //         success: function (data) {
            //             // find()
            //         },
            //         error: function () {
            //             console.log('error');
            //         }
            //     })
        })
    </script>
</body>
</html>